<%= form_for @card do |f| %>
	<div class="form-control">
		<%= f.label :original_text %>
		<%= f.text_field :original_text %>
	</div>

	<div class="form-control">
		<%= f.label :translated_text %>
		<%= f.text_field :translated_text %>
	</div>

	<div class="form-control">
		<%= f.label :review_date %>
		<%= f.date_field :review_date %>
	</div>

	<div class="form-control">
	<%= f.submit 'Сохранить' %>
	</div>
<% end %>